/* Buscar una paleta de colores decemte jksjk*/
*{
    padding: 0;
    margin: 0;
    color: #eee;
    text-align: center;
}

html, body{
    background-color: azure;
}

.main-container{
    border: 4px solid rgb(255, 122, 0);
    border-radius: 10px;
    margin: 2rem;
    background-color: black;
}

nav, section, footer, article, aside{
    border: 2px solid rgb(0, 222, 216);
    margin: 1rem;
    border-radius: 15px;
    padding: 1.1rem;
}

article, aside{
    width: 40%;
    display: inline-block;
    height: 200px;
    background-color: blueviolet;
}

nav, section, footer{
    background-color: rgb(77, 77, 77);
}