:root{
    --azul: #2274A5;
    --naranja: #F75C03;
    --amarillo: #F1C40F;
    --rosa: #D90368;
    --verde: #00CC66;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.menu{
    position: fixed;
    background: var(--azul);
    padding: .5em;
    text-align: center;
    font-size: 2em;
    position: fixed;
    width: 100%;
    top: 0;
}

.video-menu{
    background-color: var(--naranja);
    position: fixed;
    padding: .5em;
    text-align: center;
    font-size: 2em;
    position: fixed;
    width: 100%;
    top: 0;
}

.title{
    margin: 0;
}

.menu__option, .pie{
    text-decoration: none;
    padding: 1em;
    font-size: .7em;
    color: white;
}

.contenido{
    display: flex;
    padding-top: 12em;
}

.foot{
    background-color: var(--azul);
    padding: 2rem 0px;
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
}