
body{
    padding-top: 2em;
    margin: 0;
}
.menu{
    background: darkcyan;
    padding: .5em;
    text-align: center;
    font-size: 2em;
    position: fixed;
    width: 100%;
    top: 0;
}

.title{
    margin: 0;
}
